
nav {
  height: 80px;
  background-color:rgb(60, 60, 60);
  color: white;
}

.home {
  font-size: large;
  padding: 20px ;
  text-decoration: none;
  font-weight: bold;
}

.home a {
  color: white !important;
}
.home a:link {

  text-decoration: none;
  color: white;
}

.home a:hover {
  text-decoration: none;
  color: currentColor;
}